body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgb(55, 0, 90) 0%, rgb(8, 58, 101) 100%);
  min-height: 100vh;
  color: white;
  font-family: 'Work Sans', Circular, Helvetica Neue, Helvetica, Arial, sans-serif;
}

img {
  max-height: 100%;
  max-width: 100%;
}

