@import "~antd/dist/antd.less";

require('./colors.js');

body {
  background: linear-gradient(to right, #0b1e42 0%,#1e386f 100%) !important;
}

.ant-popover-inner {
  background-color: @popover-bg !important;
}
.ant-popover-arrow {
  background-color: @popover-bg !important;
}
.ant-popover-inner-content {
  color: fade(#fff, 85%) !important;
}
.ant-alert-info {
  border: 1px solid @item-hover-bg !important;
  background-color: @item-hover-bg !important;
}
.ant-alert-with-description .ant-alert-message {
  color: #DADDDF !important;
}
.ant-select-dropdown-menu-item,
.ant-select-dropdown-menu-item:hover{
  background-color: @background-color-light;
}
.ant-btn-primary {
  background-color: @background-color-light;
  border-color: @background-color-light;
}
.ant-layout {
  background: @body-background !important;
  height: 100%;
}
.ant-tooltip-inner {
  background-color: @popover-bg !important;
}
.ant-tooltip-placement-top .ant-tooltip-arrow,
.ant-tooltip-placement-topLeft .ant-tooltip-arrow,
.ant-tooltip-placement-topRight .ant-tooltip-arrow {
  border-top-color: @popover-bg !important;
}
