.ant-popover-inner-content {
  padding: 0 !important;
}

.ant-confirm-body .ant-confirm-content {
  margin-top: 30px !important;
  margin-left: 0 !important;
}

.ant-table-placeholder {
  // background: url("https://cdn.dribbble.com/users/247954/screenshots/2478890/empty_state.jpg");
  // background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}