{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "max-len": ["error", { "code": 120, "ignoreComments": true }],
    "comma-dangle": 0,
    "camelcase": 0,
    "no-restricted-syntax": 0,
    "no-await-in-loop": 0,
    "func-names": 0,
    "no-console": 0,
    "no-shadow": 0,
    "no-multi-str": 0,
    "no-use-before-define": 0,
    "consistent-return": 0,
    "jsx-a11y/href-no-hash": 0
  }
}
