{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "react/jsx-wrap-multilines": "off",
    "function-paren-newline": ["error", "consistent"],
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "flowtype/define-flow-type": 1,
    "flowtype-errors/show-errors": 2,
    "react/default-props-match-prop-types": "off",
    "jsx-a11y/label-has-for": "off"
  },
  "plugins": [
    "flowtype",
    "flowtype-errors",
    "jest"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.eslint.js"
      }
    }
  },
  "globals": {
    "Web3": true,
    "BigNumber": true
  }
}
